@charset "utf-8";
@import "https://unpkg.com/ress/dist/ress.min.css";

* {
  box-sizing: border-box;
}

body {
  line-height: 1.0;
  color: #333;
}

a {
  color: inherit;
  text-decoration: underline;
}
a:hover {
  text-decoration: none;
  opacity: .8;
}

img {
  max-width: 100%;
  vertical-align: bottom;
  align-self: baseline;
}

header {
  background: #aaa;
  padding: 20px 0;
  text-align: center;
}

.logo {
  display: inline-block;
  margin: auto;
  text-align: center;
  font-size: 40px;
  text-decoration: none;
}

.logo img {
  width: 40px;
  margin-right: 20px;
}

.logo span {
  color: white;
  text-shadow: 1px 1px black;
}

p {
  line-height: 1.5;
}
p + p {
  margin-top: 1em;
}

main {
  display: flex;
  width: 1200px;
  margin: 120px auto 0;
}

#sidebar {
  background: #aaa;
  width: 22%;
  padding: 240px 20px 20px;
  position: relative;
}

.sidebar-head {
  position: absolute;
  top: 0;
  left: 0;
}

.account {
  position: absolute;
  right: 0;
  bottom: -40px;
  left: 0;
  margin: auto;
  width: 80px;
  height: 80px;
}

.account img {
  border-radius: 50%;
  border: 4px solid white;
}

.account figcaption {
  margin-top: 1em;
  font-weight: bold;
  text-align: center;
}

#sidebar h2 {
  font-size: 20px;
  margin-top: 2em;
  padding: .5em 0;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  text-align: center;
}

#sidebar ul {
  padding-left: 2em;
  margin-top: 1em;
}

#sidebar ul li + li {
  margin-top: 1em;
}

#content {
  background: #efefef;
  width: 75%;
  padding: 40px;
  margin-left: auto;
}

#content section + section {
  margin-top: 40px;
}

#content h2 {
  font-size: 24px;
  margin-bottom: 1em;
  padding: .5em 0;
  text-align: center;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

#content h3 {
  font-size: 20px;
  margin-bottom: 1em;
  padding: .25em 0 .25em 1em;
  border-left: 8px solid black;
}

.box-area {
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
  gap: 5%;
}

.box:nth-of-type(n + 4){
  margin-top: 5%;
}

footer {
  margin-top: 40px;
}

.copyright {
  display: block;
  text-align: center;
  line-height: 3;
  margin: 0;
  font-size: 12px;
  background: #aaa;
}